.btn-group.btn-group-lg role="group" aria-label="Large button group"
  = link_to "Cancel", self.send("#{controller_name}_path"), class: "btn btn-primary"
  = link_to "Approve", self.send("approve_#{controller_name.singularize}_path", po_form), class: "btn btn-primary", method: :patch
  = link_to "Reject", self.send("reject_#{controller_name.singularize}_path", po_form), class: "btn btn-primary", method: :patch if po_form.can_reject?
