// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-input {
  border: solid;
  border-color: #ddd;
  border-width: 1px;
  padding: 25px;
}

.form-selection {
  padding: 25px;
}